@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Square+Peg&display=swap');
/*font-family: 'Poppins', sans-serif;
font-family: 'Square Peg', cursive;*/



* {
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
p{
	font-size: 18px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 1000;
	transition: all 0.2s ease-in-out;
	height: auto;
	background-color: transparent;
	text-align: center;
	line-height: 40px;
}
.header.active {
	background: purple;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header.active a {
	color: #fff;
}
.header ul {
	line-height: 50px;
	list-style: none;
	display: flex;
	justify-content: center;
}
.header ul li a {
	text-decoration: none;
	margin: 0 25px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}
.header ul li.logo {
	font-size: 25px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
}
/* banner */

.banner {
	height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;
	background-image: url(front-of-house.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
}
.banner-text h2 {
    font-family: 'Square Peg', cursive;
    font-size: 80px;
	color: #fff;
}
.banner-text p {
	font-size: 18px;
	margin-top: 15px;
	color: #fff;
}
.banner-text a {
	text-decoration: none;
	background: purple;
	color: #fff;
	display: inline-block;
	padding: 15px 25px;
	margin-top: 25px;
	border-radius: 50px;
	text-transform: uppercase;
}
.banner:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}
/* about */

.about {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.section-header {
	margin-bottom: 20px;
}
.section-header h2 {
	font-size: 80px;
    font-family: 'Square Peg', cursive;
	text-align: center;
}

.about-text h2{
    font-family: 'Square Peg', cursive;
    font-size: 50px;
}
.section-header p {
	width: 80%;
	margin: auto;
	text-align: center;
	line-height: 1.9;
}
.single-about img {
	width: 40%;
}
.about-text h2 {
	font-size: 40px;
}
.about-text p {
	width: 80%;
	margin: auto;
	padding: 35px 0;
}
.about-text a {
	text-decoration: none;
	background: purple;
	color: #fff;
	display: inline-block;
	padding: 15px 25px;
	margin-top: 25px;
	border-radius: 50px;
	text-transform: uppercase;
}
/* services */

.service {
	padding: 20px 0;
}


/* contact */

.single-contact {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
	justify-content: center;
	align-items: center;
}
.contact {
	padding: 20px 0;
}


form{
    background-color: purple;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 2.5rem;
    border-radius: .5rem;
	width: 30rem;

}
form input{
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    line-height: 1.5rem;
    border-radius: .5rem;
    border: none;
}

form h2{
    font-family: 'Square Peg', cursive;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.checkbox{
    width: 10%;
}


form button{
    width: 100%;
    font-family:  'Poppins', sans-serif;
    border: none;
    border-radius: .5rem;

}

form button:hover{
    border: 3px solid black;
}
/* footer */

footer {
	background: purple;
	text-align: center;
	line-height: 70px;
	color: #fff;
}


@media (max-width:500px) {
	p{
		font-size: 12px;
	}
    .header ul li a {
        text-decoration: none;
        margin: 0 20px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
    }
    .about-text h2{
        font-family: 'Square Peg', cursive;
        font-size: 30px;
    }
    .section-header h2 {
        font-size: 50px;
        font-family: 'Square Peg', cursive;
        text-align: center;
    }
    form{
        font-size: 12px;
        text-align: left;
        line-height: 2.5rem;
        border-radius: .5rem;
		width: 22rem;
    }
    .single-contact{
        width: 90%;
    }
}